
/* Fullscreen */
html:-moz-full-screen {
    /*background: red;*/
}

html:-webkit-full-screen {
    /*background: red;*/
}

html:fullscreen {
    /*background: red;*/
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansLightItalic';
    src: url('../fonts/OpenSans-LightItalic-webfont.eot');
    src: url('../fonts/OpenSans-LightItalic-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansItalic';
    src: url('../fonts/OpenSans-Italic-webfont.eot');
    src: url('../fonts/OpenSans-Italic-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemiboldItalic';
    src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot');
    src: url('../fonts/OpenSans-SemiboldItalic-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBoldItalic';
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-BoldItalic-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansExtrabold';
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBold-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansExtraboldItalic';
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

a{
    color:#EC008C;
}
html{
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    background-color:#fff;
    font-family: "OpenSansRegular";
    
    
}


/*
::-webkit-scrollbar {
    width: 12px;
    height:12px;
    
}
 

::-webkit-scrollbar-track {
		background-color:#eee;
    cursor:pointer;
}
 

::-webkit-scrollbar-thumb {
		background-color:#d9d9d9;
    cursor:pointer;
}
::-webkit-scrollbar-thumb:window-inactive {
	background-color:#ccc;
  cursor:pointer;
}
*/


*{
   /* -moz-user-select: none;
    -khtml-user-select:none;*/
}

body{
	
	
	margin:0;
	padding:0;
	
	font-size:12px;
	color:#666666;
	text-align:left;
	height:100%;
	overflow: hidden;
	min-width: 990px;
	
	
	
}





ul,li{
    list-style: none;
    margin:0;
    padding:0;
    
}

.container{
    width:100%;
    position: relative;
    height:100%;
}

.top-bar{
		height:60px;
		width:100%;
		/*background-color:#e5e5e5;*/
    background-color:#000;
		float: left;
		/*border-bottom:1px solid #d9d9d9;*/
}

.navigation,.navigation-items{
    width:202px;
    float: left;
}
.navigation-items li{
    width:99px;
   
   display: block;
   text-align: center;
    height:60px;
    line-height:60px;
   
    float: left;
    cursor:pointer;
     border-right: 1px solid #ddd;
  
    
}
.navigation-items li.last{
    width:100px;
}
.navigation-items li span{
    float: left;
    
    /*line-height: 16px;
    font-size: 16px;*/
    padding-right:10px;
}

.navigation-items li.active{
    background-color:#eee;
}

.navigation{
    position: absolute;
    top:60px;
    bottom:60px;
    left:0;
		width:200px;
		/*background-color:#262626;*/
    
    
    
}


.navigation .menu{
		/*font-family:"OpenSansLight";*/
		font-size: 12px;
		
		color:#666;
		margin:0;

		
}

.navigation .menu li{
    
    padding:5px 10px;
    /*color:#ccc;*/
    cursor:pointer;
    border-bottom:1px solid #eee;
}
.navigation .menu li i{
    font-size:14px;
    padding-right: 5px;
}
.navigation .menu li.active{
    color:#333;
    font-weight: bold;
}

.navigation .menu .submenu{
}

.navigation .menu .submenu li{
    
    border:none;
    padding:0;
    margin-left:15px;
   
    
}
.player .song-title{
    padding:5px;
}
.player{
		position: absolute;
    left:0;
    bottom:0;
    width:200px;
    height:200px;
    background-color:black;
    display:block;
			
}

#player{
    width:100%;
		height:100%;

}



.hide-button{
		width:20px;
		height:20px;
		display: block;
		background-color:red;
		position: absolute;
		right:5px;
		top:5px;
		display: none;
}

.youtube-logo{
		float: left;
    margin-left:10px;
}

.search{
   position: relative;
    height:28px;
    float: left;
		margin-top:15px;
		margin-left:15px;
    background-color:#fff;

    
    
  
		
}

.search .search-input{
    height:18px;
    width:130px;
    float:left;
    border:none;
   
		padding:5px 13px;
    outline: none;
		/*border:1px solid #999;*/
    /*font-family: "OpenSansLight";*/
    font-family: "Arial";
    color:#666;
    background:none;
}
.search button:hover{
  /* background-color:#333; */
}
.search button{
    float:left;
		border:none;
    
   
    
    color:white;
    color:#666;
   
    cursor:pointer;
    
    text-align: center;
   font-size:16px;
    float: left;
    height:28px;
    width:36px;
    display: block;
    background:none;
    /*background-image:url("../images/search-icon.png");
    background-repeat: no-repeat;
    background-position: center center;*/
   
    /*-webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;*/
		
    
}
.search-results{
    background-color:#eee;
    margin:0;
    padding:0;
    list-style: none;
    width:354px;
    position: absolute;
    top:28px;
    left:0px;
    z-index:2;
    
    
}

.search-results li{
    float: left;
    padding:5px;
    border-top:1px solid #d9d9d9;
   width:344px;
    display: block;
    cursor: pointer;
}


/*INTERFACE*/
.interface{
    height:60px;
    width:100%;
    display: block;
    float: right;
    position:absolute;
    bottom: 0px;
    left:0px;
    /*background-color:#E5E5E5;*/
    background-color:#000;
    
}


.left-navigation{
    float: left;
}
.right-navigation{
    float: right;
    /*border-left:1px solid #d9d9d9;*/
      /*border-left: 1px solid #222;*/
}

.center-navigation{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    left:183px;
    right:394px;
}


/*VOLUME*/
.volumebar{
    height:10px;
    width:100px;
    float:left;
    display:block;
    margin-top:27px;
    margin-left:27px;
    margin-right:27px;
    background-color:#bbb;
    background-color:#333;
    cursor:pointer;
    overflow: hidden;
    position: relative;
    /*border:1px solid #636363;*/
    
}



.rounded{
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
}


.current-volume{
    width:0%;
    height:10px;
    display:block;
    /*background-color:#666;
    background-color:#333;*/
    background-color:#ae00ff;
    background-color:#EC008C;
    
}
/*PROGRESS*/
.progressbar{
    position: absolute;
    top:27px;
    left:100px;
    right:100px;
    height:10px;
    background-color:#bbb;
    background-color:#333;
    
    display: block;
    cursor:pointer;
    /*overflow: hidden;*/
    /*border:1px solid #636363;*/
    
    
 
}
/*
.progressbar:hover .progress{
    background-color:#ec008c;
}*/

.white-shadow{
    -moz-box-shadow: 0px 1px 0px #fff;
    -webkit-box-shadow: 0px 1px 0px #fff;
    box-shadow: 0px 1px 0px #fff;
}


@-webkit-keyframes animate-stripes { 
	0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

@-moz-keyframes animate-stripes {
	0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

.loaded{
    height:10px;
    width:1px;
    background-color:#666;
    display: block;
    position: absolute;
    top:0;
    left:0;
    
    
    background-color: #666;
	  /*background-image: -webkit-gradient(linear, left top, left bottom, from(#666), to(#767676));
	  background-image: -webkit-linear-gradient(top, #666, #767676);
	  background-image: -moz-linear-gradient(top, #666, #767676);
	  background-image: -ms-linear-gradient(top, #666, #767676);
	  background-image: -o-linear-gradient(top, #666, #767676);
	  background-image: linear-gradient(top, #666, #767676);*/
   
}

.progress{
    height:10px;
    width:1px;
    display: block;
   
		/*background-color:#333;*/
    
    position: absolute;
    top:0;
    left:0;
    
    /*background-color: #fa189e;
	  background-image: -webkit-gradient(linear, left top, left bottom, from(#fa189e), to(#f73cab));
	  background-image: -webkit-linear-gradient(top, #fa189e, #f73cab);
	  background-image: -moz-linear-gradient(top, #fa189e, #f73cab);
	  background-image: -ms-linear-gradient(top, #fa189e, #f73cab);
	  background-image: -o-linear-gradient(top, #fa189e, #f73cab);
	  background-image: linear-gradient(top, #fa189e, #f73cab);*/
    /*
  background: #3ec7f9; 
background: -moz-linear-gradient(left,  #3ec7f9 0%, #841f89 99%); 
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#3ec7f9), color-stop(99%,#841f89)); 
background: -webkit-linear-gradient(left,  #3ec7f9 0%,#841f89 99%); 
background: -o-linear-gradient(left,  #3ec7f9 0%,#841f89 99%); 
background: -ms-linear-gradient(left,  #3ec7f9 0%,#841f89 99%); 
background: linear-gradient(to right,  #3ec7f9 0%,#841f89 99%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ec7f9', endColorstr='#841f89',GradientType=1 );
*/
    background-color:#ae00ff;
    background-color:#EC008C;
    
    
   
   
    
}
/*
.progress,.loaded{
  -webkit-background-size: 10px 10px;
	-moz-background-size: 10px 10px;
	background-size: 10px 10px;			
	background-image: -webkit-gradient(linear, left top, right bottom,
						color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent),
						color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)),
						color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent),
						to(transparent));
	background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);            
	
	-webkit-animation: animate-stripes 3s linear infinite;
	-moz-animation: animate-stripes 3s linear infinite;
}*/








.duration-time,.progress-time{
    
    position: absolute;
    width:100px;
    height:60px;
    line-height: 60px;
    text-align: center;
    top:0px;
    
}
.progress-time{
    left:0px;
}
.duration-time{
    right:0px;
    
}
.progressbar:hover .dragger{
    display: block;
}
.progressbar .dragger .save-location{
    position: absolute;
    top:10px;
    left:-3px;
    background-color:#000;
    width:16px;
    height:16px;
    text-align: center;
    line-height: 16px;
    display:none;
}
.progressbar .dragger .save-location span{
    color:#ec008c;
    color:#fff;
    font-size:10px;
    
}
.progressbar .dragger .save-location span.active{
     color:#ec008c;
}


.volumebar .dragger{
    display: block;
}
.dragger{
    width:10px;
    height:10px;
    position:absolute;
    top:0;
    left:0;
    background-color:#fff;
    display: none;
    
    
   
}

.nav{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*BUTTONS*/
.button{
    width:60px;
    height:60px;
    text-align: center;
    float: left;
    display: block;
    line-height: 60px;
    /* border-right: 1px solid #d9d9d9;*/
    
    /*border-right: 1px solid #222;*/
    cursor:pointer;
    font-size:16px;
    
    color:#666;
    
     -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    
}

.button:hover span{
    /*color:#333;*/
    color:#fff;
}

.play-button span.active,.mute-button span.active{
    display: inline-block;
}
.play-button span,.mute-button span{
    display: none;
}

.repeat-button span.active,.shuffle-button span.active{
    /*color:#*/
    color:#ec008c;
}

.debug{
    position: absolute;
    z-index:2;
    right:0px;
    top:0px;
    background-color:#ccc;
}

/*LIST*/
.list{  
    position: absolute;
    top:60px;
    bottom:180px;
    left:200px;
    /*right:200px;*/
    right:0px;
    overflow-y: scroll;
    min-height:300px;
    border-left:1px solid #d9d9d9;
}

.videos,.favourites{
    width:100%;
    float: left;
    
}

.favorite{
    font-size: 16px;
}

.favourite-list{
    display: none;
}

.videos .video,.favourites .video{
   color:#666;
    float: left;
    width:100%;
    padding-top:5px;
    padding-bottom:5px;
    cursor:pointer;
    height:40px;
    line-height: 40px;
    position: relative;
		
    
		
   
}

.video .video-title{
  
   
   left:65px;
   
   top:8px;
   right:118px;
    position: absolute;
    
    
}
.video .info{
    float: right;
}
.video .video-time{
    float: left;
    margin:0;
   
    padding-left:8px;
}



.video .favourite.active{
     color:#ec008c;
     
}

.thumbnail{
    width:40px;
    height:40px;
   
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    background-color:#fff;
  
    
    display: block;
}
.thumbnail img{
   
    vertical-align: middle;
    height:100%;
    width:auto;
}
.grey{
    background-color: #f5f5f5;
}

.videos .video.active,.favourites .video.active{
    font-weight:bold;
   
		color:#000;
}

/*TABEL LIST*/
.table-list{
	width:100%;
  border-collapse:collapse;
  border:none;
  padding:0;
  margin:0;

}

.table-list thead{
    display: table-header-group;
    vertical-align: middle;
}

.table-list th{
		background-color:#eee;
}

.table-list tr.video:nth-child(2n+1) {
    /*background-color: #f5f5f5;*/
}
.table-list tr{
    cursor:pointer;
    height:40px;
    border:none;
   border-bottom:1px solid #EAEAEA;
}
.table-list tr.active{
    font-weight: bold;
    color:black;
     background-color:#f5f5f5;
}
.table-list tr:hover{
    font-weight:bold;
    color:black;
}
.table-image{
    width:40px;
    padding:5px;
   
}
.table-image .thumbnail{
    float: none;
}

.table-number{
    width:40px;
    text-align: left;
   
}
.table-title{
     padding-left:10px;
}
.table-duration{
    text-align: right;
    padding-right:10px;
    width:60px;
}
.table-id{
    text-align: right;
    width:100px;
}
.table-favourite{
    width:40px;
    text-align: center;
}

.table-url{
    width:40px;
    text-align: center;
}
.table-share{
    width:40px;
    text-align: center;
}                       
.table-share a,.table-url a{
    text-decoration: none;
    color:#666;
}

td i{
    font-size:14px;
    color:#ccc;
}
td i:hover{
    color:#666;
}

td{
   border:none;
   padding:0;
}

.tooltip{
    display: none;
    position: absolute;
    top:1px;
    background-color:black;
    padding:3px 10px 2px 10px;
    text-align: center;
    color:#ccc;
    font-size: 12px;
    left:100px;
}
.tooltip .tooltip-bottom{
    position: absolute;
    bottom:-5px;
    left:50%;
    margin-left:-4px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    border-color: #000000 transparent transparent transparent;
}
.meta-information{
    position: absolute;
    left:200px;
    /*right:200px;*/
    right:0px;
    bottom:60px;
   
    background-color:#eee;
    height:200px;
   /* border-top: 1px solid #D9D9D9;*/
}

.meta-information-item{
    float: left;
    width:50%;
    float: left;
   height:200px;
   position: relative;
}

.artist-info{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    padding:20px;
    
}

.artist-bio{
    position: absolute;
    top:20px;
    bottom:20px;
    left:200px;
    right:0px;
    overflow: hidden;
    display: block;
    /*white-space: nowrap;
    text-overflow: ellipsis;*/
}
.artist-bio .bio{
   
    
}

.meta-information .meta-information-item .artist-info .h2{
    float: left;
    width:auto;
    
}
.artist-info .thumbnail{
    width:160px;
    height:160px;
    float: left;
    line-height:160px;
}

.artist-info .thumbnail i{
    font-size:48px;
}

.artist-info .bio{
   float: left;
   margin:0px;
   padding:0px;
}

.similar-artists{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    padding:20px;
    
   
}

.similar-mask{
   
    position: absolute;
    left:20px;
    right:20px;
    top:60px;
    bottom:20px;
    
    
    
}
.similar-holder{
    overflow-y:hidden;
    overflow-x:auto;
    height:90px;
    
   
   /*width:200px;
    right:0px;
    top:60px;
    
    bottom:60px;*/
   
   top:60px;
   right:0px;
   width:100%;
  
   
   
    
}
.meta-information h2{
    font-family:"OpenSansLight";
    font-weight: normal;
    float: left;
    width:100%;
    display: block;
    margin:0;
    padding:0;
    margin-bottom:20px;
    font-size: 24px;
    
}

.more-info{
    position: absolute;
    right:20px;
    top:20px;
    cursor:pointer;
    
}

.no-artists{
    display: none;
}

.similar{
   float: left;
  
    
}
.similar li{
    color:#666;
    float: left;
    width:64px;
    height:90px;
    margin-right:10px;
    /*width:200px;*/
    /*padding-top:5px;
    padding-bottom:5px;*/
    cursor:pointer;
    /*height:40px;
    line-height: 40px;*/
    
    display: block;
    position: relative;
    color:#333;
    
    
}

.similar li .thumbnail{
    
    width:64px;
    height:64px;
    line-height: 64px;
    text-align: center;
    
}

.similar li .thumbnail i{
    font-size:16px;
    color:#666;
}

.similar li .thumbnail img{
    height:64px;
    width:auto;
    margin:0px;
    padding:0px;
    vertical-align: middle;
    
    
}
.similar li .artist-title{
      /*left:55px;
   
   top:8px;
   right:0px;
    position: absolute;
    height:40px;*/
      margin-top:5px;
      width:100%;
      
      float: left;
  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   
}

.similar-status{
    height:3px;
    
    display: block;
   background-color:#ccc;
   
    /*position: absolute;
    bottom:10px;
    left:55px;*/
    
    width:64px;
    float: left;
   
 
    
}
.similar-status span{
    background-color:#EC008C;
    height:100%;
    display: block;
   width:100%;
 float: left;
  
   
    
    
}

.similar li img{
    
}

.albums{
		 width:200px;
    position:absolute;
    top:60px;
    /*bottom:60px;*/
    height:300px;
   right:0px;
   display: none;

}

.album-info{
    width:180;
   
     float: left;
    display: block;
		padding:10px;
}

.album{
		height:60px;
    width:100%;
    float: left;
    display: block;
   
}

.album-list-holder{
    width:200px;
    position: absolute;
    border-top:1px solid #eee;
    top:80px;
    bottom:0px;
    left:0px;
    overflow-y:auto;
    overflow-x:hidden;
    
}


.album-list{
    /*width:200px;
    float: left;*/
    position: absolute;
    top:1px;
    left:0px;
    right:0px;
}
.album-list-item{
    padding-top:3px;
    padding-bottom:3px;
    width:100%;
   
    float: left;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    position: relative;
    cursor:pointer;
}
.album-list-item:hover .album-list-item-price{
    display: block;
}
.album-list-item-number{
    width:20px;
  padding-right:10px;
    float: left;
    text-align: right;
}

.album-list-item-title{
    width:150px;
   
    float: left;
    overflow: hidden;
    white-space: nowrap;
	
    overflow: hidden;
    text-overflow: ellipsis;
}

.album-list-item-price{
    color:#666;
     padding:3px 10px 2px 10px;
    text-align: center;
     background-color:#eee;
     text-decoration: none;
     position: absolute;
     top:0;
     right:0;
     display: none;
}

.album-title,.album-artist,.album-price{
    float: left;
    width:110px;
    white-space: nowrap;
	  
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.album-list-item-price:hover{
    background-color:#ccc;
}

.album-art{
    float: left;
    width:60px;
    margin-right:10px;
    height:60px;
    display: block;
    overflow: hidden;
    /*margin-right:5px;
    margin-bottom:5px;*/
    
    
}
.album-art img{
    height:100%;
    width:auto;
    
}





.profile{
    float: right;
    margin-left:15px;
    /*margin-top:13px;*/
    height:32px;
    height:34px;
    padding-left:15px;
    padding-top:13px;
    padding-bottom:13px;
    width:200px;
    
}

.thumb-small{
    width:32px;
    height:32px;
    float: left;
}
.nickname{
    float: left;
    margin-left:10px;
    width:130px;
    display: block;
   white-space: nowrap;
	
    overflow: hidden;
    text-overflow: ellipsis;
    color:white;
    
   
}
.logout{
    float: left;
    margin-left:10px;
   
    display: block;
    margin-top:2px;
    
    color:#666;
    text-decoration: none;
   
    
}
.logout:hover{
   color: #EC008C;
}
 .facebook-login-button{
    /*background-image:url("../images/facebook-button.png");*/
    background-color:#3B5998;
    float: right;
    padding:0px 0px;
    height:28px;
    cursor:pointer;
    font-size:12px;
    margin-top:15px;
    margin-right:15px;
    line-height: 28px;
    text-decoration: none;
    width:170px;
}
.facebook-login-button i{
    width:28px;
    height:28px;
    display: block;
    text-align: center;
    color:white;
    font-size: 16px;
    float: left;
    line-height: 28px;
}

.facebook-login-button:hover{
   
		text-decoration: none;
}

.facebook-login-button span{
    color:white;
    font-size:12px;
    text-align: center;
    float: left;
    padding-right:10px;
    
   

}

.items-loaded{
   
    float: right;
}







